  /*001*/
  body {
    font: 16px Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    gap: 0.5em 0.5em;
    padding: 1.25em;
}

/*001*/
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*001*/
main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        'article'
        'section';
    gap: 0.5em 0.5em;
    padding: 1.25em;
}

/*001*/
section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

/*001*/
article {
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

footer {
    grid-area: footer;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 0.75em 0.75em;
}

/*001*/
h1 {
    font: 2.5em Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/*001*/
h2 {
    font: 1.5em Arial, monospace, bold;
    font-weight: bold;
}

/*001*/
p {
    padding: 0.5em;
}

input[type=button] {
    font: 1.25em Arial, sans-serif;
}