/*001*/
body{
    background-color:rgb(255, 255, 255);
    font: 16px Arial, sans-serif;
    color:rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
    gap: 0.5em 0.5em;
    padding: 50% 35%;    
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'C CE masmenos root percent'
        'seven eight nine mul div'
        'four five six minus MRC'
        'one two three plus Mminus'
        'zero point equals plus Mplus';
    gap: 0.5em 0.5em;
}

header label{
    grid-area: label;
    font: 1.25em Arial, sans-serif;
}

/*001*/
h1{
    grid-area: titulo;
    font: 2em Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
    'titulo'
    'label'
    'pantalla';
    grid-template-columns: 1fr;
    background-color:#e1aaff;
}

footer{
    grid-area: footer;
}

input[type=button] { 
    font: 1.5em Arial, sans-serif;
} 

input[type=text] { 
    grid-area: pantalla;
    font: 1.5em Arial, sans-serif;
    background-color:rgb(255, 255, 255);
    
} 

input[type=button][value="C"] { 
    grid-area: C;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="CE"] { 
    grid-area: CE;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="+/-"] { 
    grid-area: masmenos;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="√"] { 
    grid-area: root;
    background-color:rgb(140, 236, 255);
}

input[type=button][value="%"] { 
    grid-area: percent;
    background-color:rgb(140, 236, 255);
}

input[type=button][value="7"] { 
    grid-area: seven;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="8"] { 
    grid-area: eight;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="9"] { 
    grid-area: nine;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="X"] { 
    grid-area: mul;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="/"] { 
    grid-area: div;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="4"] { 
    grid-area: four;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="5"] { 
    grid-area: five;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="6"] { 
    grid-area: six;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="-"] { 
    grid-area: minus;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="MRC"] { 
    grid-area: MRC;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="1"] { 
    grid-area: one;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="2"] { 
    grid-area: two;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="3"] { 
    grid-area: three;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="+"] { 
    grid-area: plus;
    grid-row: span 2 ;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="M-"] { 
    grid-area: Mminus; 
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="0"] { 
    grid-area: zero;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="."] { 
    grid-area: point; 
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="="] { 
    grid-area: equals;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="M+"] { 
    grid-area: Mplus;
    background-color:rgb(140, 236, 255);
} 