/*001*/
body{
    background-color:rgb(255, 255, 255);
    font: 16px Arial, sans-serif;
    color:rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
    align-items: center;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1em 3em;
    background-color:#aadeff;
}

/*001*/
h1{
    font: 2em Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        '. . label . .'
        'pantalla pantalla pantalla pantalla pantalla'
        'deg hyp fe . .'
        'mc mr Mplus Mminus ms'
        'pow2 pow sin cos tan'
        'root pow10 log exp mod'
        'shift CE C del div'
        'pi seven eight nine mul'
        'fact four five six minus'
        'masmenos one two three plus'
        'leftpar rightpar zero point equals';
    gap: 1em 0.5em;
    border-radius: 5%;
    align-items: center;
    justify-self: center;
    padding: 2% 2%;
    background-color:#D1BDFF;
}

label{
    grid-area: label;
    font: 1.5em Arial, sans-serif; 
    color: rgb(0, 0, 0);
}

input[type=button] { 
    font: 1.5em Arial, sans-serif;
    border-radius: 20%;
} 

input[type=text] { 
    grid-area: pantalla;
    font: 1.25em Arial, sans-serif;
    background-color:rgb(255, 255, 255);

} 

input[type=button][value="C"] { 
    grid-area: C;
    
} 

input[type=button][value="CE"] { 
    grid-area: CE;
    
} 

input[type=button][value="+/-"] { 
    grid-area: masmenos;
    
} 

input[type=button][value="√"], input[type=button][value="1/x"] { 
    grid-area: root;
    
}

input[type=button][value="7"] { 
    grid-area: seven;

} 

input[type=button][value="8"] { 
    grid-area: eight;

} 

input[type=button][value="9"] { 
    grid-area: nine;

} 

input[type=button][value="X"] { 
    grid-area: mul;
    
} 

input[type=button][value="/"] { 
    grid-area: div;
    
} 

input[type=button][value="4"] { 
    grid-area: four;

} 

input[type=button][value="5"] { 
    grid-area: five;

} 

input[type=button][value="6"] { 
    grid-area: six;

} 

input[type=button][value="-"] { 
    grid-area: minus;
    
} 

input[type=button][value="MR"] { 
    grid-area: mr;
    
} 

input[type=button][value="1"] { 
    grid-area: one;

} 

input[type=button][value="2"] { 
    grid-area: two;

} 

input[type=button][value="3"] { 
    grid-area: three;

} 

input[type=button][value="+"] { 
    grid-area: plus;
    
} 

input[type=button][value="M-"] { 
    grid-area: Mminus; 
    
} 

input[type=button][value="0"] { 
    grid-area: zero;

} 

input[type=button][value="."] { 
    grid-area: point; 
    
} 

input[type=button][value="="] { 
    grid-area: equals;
    
} 

input[type=button][value="M+"] { 
    grid-area: Mplus;
    
} 

input[type=button][value="DEG "], input[type=button][value="RAD "], input[type=button][value="GRAD"]{ 
    grid-area: deg;
    
} 

input[type=button][value="HYP"] { 
    grid-area: hyp;
    
} 

input[type=button][value="F-E"] { 
    grid-area: fe;
    
} 

input[type=button][value="MC"] { 
    grid-area: mc;
    
} 

input[type=button][value="MS"] { 
    grid-area: ms;
    
} 

input[type=button][value="x^2"], input[type=button][value="x^3"] { 
    grid-area: pow2;
    
} 

input[type=button][value="x^y"], input[type=button][value="x√y"] { 
    grid-area: pow;
    
} 

input[type=button][value="sin"], input[type=button][value="asin"], input[type=button][value="sinh"], input[type=button][value="asinh"] { 
    grid-area: sin;
    
} 

input[type=button][value="cos"], input[type=button][value="acos"], input[type=button][value="cosh"], input[type=button][value="acosh"] { 
    grid-area: cos;
    
} 

input[type=button][value="tan"], input[type=button][value="atan"], input[type=button][value="tanh"], input[type=button][value="atanh"] { 
    grid-area: tan;
    
} 

input[type=button][value="10^x"], input[type=button][value="e^x"] { 
    grid-area: pow10;
    
} 

input[type=button][value="log"], input[type=button][value="ln"] { 
    grid-area: log;
    
} 

input[type=button][value="Exp"] { 
    grid-area: exp;
    
} 

input[type=button][value="Mod"], input[type=button][value="deg"] { 
    grid-area: mod;
    
} 

input[type=button][value="↑"] { 
    grid-area: shift;
    
} 

input[type=button][value="Del"] { 
    grid-area: del;
    
} 

input[type=button][value="pi"] { 
    grid-area: pi;
    
} 

input[type=button][value="n!"] { 
    grid-area: fact;
    
} 


input[type=button][value="("] { 
    grid-area: leftpar;
    
} 

input[type=button][value=")"] { 
    grid-area: rightpar;
    
} 

footer{
    grid-area: footer;
    display: flex;
    font: 1.25em Arial, sans-serif;
    align-items: center;
    justify-self: center;
    background-color:#e3afff;
    color: #000000;
}