/*001*/
body{
    background-color:rgb(255, 255, 255);
    font: 16px Arial, sans-serif;
    color:rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
    gap: 0.5em 0.5em;
    padding: 3em 35%;    
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'deg hyp fe . .'
        'mc mr Mplus Mminus ms'
        'pow2 pow sin cos tan'
        'root pow10 log exp mod'
        'shift CE C del div'
        'pi seven eight nine mul'
        'fact four five six minus'
        'masmenos one two three plus'
        'leftpar rightpar zero point equals';
    gap: 0.5em 0.5em;
}

header label{
    grid-area: label;
    font: 1.25em Arial, sans-serif;
}

/*001*/
h1{
    grid-area: titulo;
    font: 2em Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

header button {
    grid-area: b;
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'titulo'
    'label'
    'pantalla'
    ;
    gap: 0.5em 0.5em;
    background-color:#e1aaff;
}

footer{
    grid-area: footer;
}

input[type=button] { 
    font: 1.5em Arial, sans-serif;
} 

input[type=text] { 
    grid-area: pantalla;
    font: 1.5em Arial, sans-serif;
    background-color:rgb(255, 255, 255);
    
} 

input[type=button][value="C"] { 
    grid-area: C;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="CE"] { 
    grid-area: CE;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="+/-"] { 
    grid-area: masmenos;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="√"] { 
    grid-area: root;
    background-color:rgb(140, 236, 255);
}

input[type=button][value="%"] { 
    grid-area: percent;
    background-color:rgb(140, 236, 255);
}

input[type=button][value="7"] { 
    grid-area: seven;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="8"] { 
    grid-area: eight;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="9"] { 
    grid-area: nine;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="X"] { 
    grid-area: mul;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="/"] { 
    grid-area: div;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="4"] { 
    grid-area: four;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="5"] { 
    grid-area: five;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="6"] { 
    grid-area: six;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="-"] { 
    grid-area: minus;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="MR"] { 
    grid-area: mr;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="1"] { 
    grid-area: one;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="2"] { 
    grid-area: two;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="3"] { 
    grid-area: three;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="+"] { 
    grid-area: plus;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="M-"] { 
    grid-area: Mminus; 
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="0"] { 
    grid-area: zero;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="."] { 
    grid-area: point; 
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="="] { 
    grid-area: equals;
    background-color:rgb(246, 255, 144);
} 

input[type=button][value="M+"] { 
    grid-area: Mplus;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="DEG"] { 
    grid-area: deg;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="HYP"] { 
    grid-area: hyp;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="F-E"] { 
    grid-area: fe;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="MC"] { 
    grid-area: mc;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="MS"] { 
    grid-area: ms;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="x^2"] { 
    grid-area: pow2;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="x^y"] { 
    grid-area: pow;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="sin"] { 
    grid-area: sin;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="cos"] { 
    grid-area: cos;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="tan"] { 
    grid-area: tan;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="10^x"] { 
    grid-area: pow10;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="log"] { 
    grid-area: log;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="Exp"] { 
    grid-area: exp;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="Mod"] { 
    grid-area: mod;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="↑"] { 
    grid-area: shift;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="Del"] { 
    grid-area: del;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="pi"] { 
    grid-area: pi;
    background-color:rgb(140, 236, 255);
} 

input[type=button][value="n!"] { 
    grid-area: fact;
    background-color:rgb(140, 236, 255);
} 


input[type=button][value="("] { 
    grid-area: leftpar;
    background-color:rgb(140, 236, 255);
} 


input[type=button][value=")"] { 
    grid-area: rightpar;
    background-color:rgb(140, 236, 255);
} 