/*****************************
  Álex Caso Díaz - UO269855
  Descripción de los estilos
*****************************/

/*001*/
body {
  font: 1.25em Arial, monospace;
  background-color: #97bafc;
  color: #000000;
  text-align: center;
}

/*002*/
body h1 {
  font: 4em Arial, monospace;
  border-radius: 1em;
  text-transform: uppercase;
  background-color: #F97B98;
}

/*001*/
body nav {
  font: 1.5em Arial, monospace;
  border-radius: 1em;
  width: 8.25em;
  background-color: #fc97bf;
}

/*002*/
body main h2 {
  font: 3em Arial, monospace;
  border-radius: 1em;
  background-color: #51e48c;
}

/*002*/
body main h3 {
  font: 2em Arial, monospace;
  border-radius: 1em;
  background-color: #fdf85c;
}

/*001*/
body main p {
  padding: 0.75em;
}

/*002*/
body nav a {
  height: 5em;
  width: 5em;
  padding: 0.25em;
  border-radius: 1.5rem;
  background-color: #E083EC;
}

/*012*/
nav a:link,
nav a:visited {
  color: #030C45;
  background-color: #E083EC;
}

/*012*/
nav a:hover,
nav a:active {
  background-color: #7B1943;
  color: white;
  border-radius: 1.5rem;
}

/*001*/
body main blockquote {
  background-color: #d1d1d1;
  color: #000000;
  border: 0.1rem solid #000000;
  padding: 0.3rem;
  font: 1.25em Arial, monospace;
  font-style: italic;
}

/*001*/
video {
  max-height: 22em;
  max-width: 22em;
}

/*001*/
table,
th,
td {
  border: 0.06rem solid #000000;
  padding: 0.3rem;
}

/*001*/
li {
  list-style-type: none;
  margin-bottom: 2.5rem;
  font: 1.25rem Arial, monospace;
}

/*001*/
form {
  border: 0.15rem solid #000000;
  padding: 0.3rem;
}