/*****************************
  Álex Caso Díaz - UO269855
  Descripción de los estilos
*****************************/

/*001*/
header {
    grid-area: header;
}

/*001*/
nav {
    grid-area: menu;
    display: flex;
    flex-direction: column;
}

/*001*/
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*001*/
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'header header'
        'menu main'
        'menu footer';
    gap: 0.5em 0.5em;
    padding: 1.25em;
}