/*****************************
  Álex Caso Díaz - UO269855
  Descripción de los estilos
*****************************/

/*0/0/1*/
body {
  font: 800 1em Arial, monospace;
  line-height: 1.8;
  background-color:#9BAFC5; 
  color: #000000;
  padding-right: 1.75px;
  text-align: justify;
}

/*001*/
p{
  text-indent: 5em;
}

/*001*/
h1 {
  font: 800 2em Arial, monospace;
  background-color:#d94b4b;
  border-radius: 1em;
  text-transform: uppercase;
  text-align: center; 
  padding: 1.6em 1.5em;    
}

/*001*/
h2 {
  font: 800 1.1rem Courier, monospace;
  color: #000000;
  background-color: #ee6464;
  padding: 0.6em 0.6em; 
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}

/*001*/
h3 {
  font: 800 1.1rem Courier, monospace;
  color: #000000;
  background-color: #F28888;
  padding: 0.6em 0.6em; 
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}

/*001*/
nav{
  
}
/*001*/
table, th, td {
  border: 0.06rem solid #a38383;
  padding: 0.3rem;
}

/*001*/
li{
  
}
/*001*/
footer{
  
}

blockquote {

}